################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/TextCalculator/obj
/TextCalculator.Tests/bin/Debug/net6.0
/TextCalculator.Tests/obj
/TextCalculator/bin/Debug/net6.0
